.container{
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    height: 60vh;
    width: 50vw;
    padding: 10px;
    border-radius: 8px;
}
.select select{
    background-color: rgb(189, 185, 185);
    height:2rem;
    width: 90%;
    border-radius: 8px;
    outline: none;
    margin: 5px 10px ;
    font-size: 1.15rem;
    text-align: center;
}
label{
    font-size: 1.2rem;
}
.container input{
    width: 90%;
    height:2rem;
    margin: 5px 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 1.1rem;
    padding-left: 8px;
    background-color: rgb(189, 185, 185);
}
button{
    height:35px;
    width: 250px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(189, 185, 185);
}
.submit{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}
.alert{
    color: rgb(204, 33, 33);
    font-size: 1.2rem;
    font-weight: bold;
    margin: .2rem 1rem;
}